# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/use-cases-and-examples/building-and-testing/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      security-events: write
    strategy:
      matrix:
        java: [ 25 ]

    steps:
      - uses: actions/checkout@v4

      - name: Setup JFrog CLI
        # You may pin to the exact commit or the version.
        # uses: jfrog/setup-jfrog-cli@5b06f730cc5a6f55d78b30753f8583454b08c0aa
        uses: jfrog/setup-jfrog-cli@v4.8.1
        env:
          JF_URL: ${{vars.JF_URL}}
          JF_PROJECT: ${{vars.JF_PROJECT_KEY}}
        with:
          # Provider Name's value that was set in OpenId Connect integration in the JFrog platform.
          oidc-provider-name: ${{vars.JF_OIDC_PROVIDER_NAME}}
          # By default, this is the URL of the GitHub repository owner, such as the organization that owns the repository.
          oidc-audience: ${{vars.JF_OIDC_AUDIENCE}}
          custom-server-id: solengeu
      - run: |
          jf -v
          jf rt ping

      - name: Set up JDK ${{matrix.java}}
        uses: actions/setup-java@v4
        with:
          java-version: ${{matrix.java}}
          distribution: 'temurin'
         
      - name: Configure Maven with Artifactory
        run: |
          jf mvnc \
            --server-id-resolve solengeu \
            --repo-resolve-releases mwpc-maven \
            --repo-resolve-snapshots mwpc-maven \
            --use-wrapper
            
      - name: Build with Maven
        run: jf mvn -B verify --build-name=petclinic --build-number=${{ github.run_number }}
        env:
          MAVEN_OPTS: "--add-exports jdk.compiler/com.sun.tools.javac.api=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.file=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.main=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.model=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.parser=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.processing=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.tree=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.util=ALL-UNNAMED --add-opens jdk.compiler/com.sun.tools.javac.code=ALL-UNNAMED --add-opens jdk.compiler/com.sun.tools.javac.comp=ALL-UNNAMED"

      - name: Docker Setup Buildx
        # You may pin to the exact commit or the version.
        # uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435
        uses: docker/setup-buildx-action@v3.11.1

      - name: Build and Push PetClinic Container
        run: | 
          jf mvn clean package
          jf docker build -t ${{ vars.JF_DOCKER_REGISTRY }}/petclinic:${{ github.sha }}
          jf docker push ${{ vars.JF_DOCKER_REGISTRY }}/petclinic:${{ github.sha }}
        env:
          MAVEN_OPTS: "--add-exports jdk.compiler/com.sun.tools.javac.api=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.file=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.main=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.model=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.parser=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.processing=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.tree=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.util=ALL-UNNAMED --add-opens jdk.compiler/com.sun.tools.javac.code=ALL-UNNAMED --add-opens jdk.compiler/com.sun.tools.javac.comp=ALL-UNNAMED"
          
      - name: Publish build info
        run: jf rt build-publish petclinic ${{ github.run_number }}
